#!/bin/bash

REMOTE_PATH="{{ DSE_DATA_MODEL_DEPLOYER_REMOTE_PATH }}/dse-datamodel-deploy-{{ MODEL_TYPE }}/lib/AppSqlAzureRunner.js"
ENVIRONMENT="{{ ENVIRONMENT }}"
SCRIPT_VERSION="{{ SCRIPT_VERSION }}"
ACTION="{{ ACTION }}"
PROJECT="{{PROJECT}}"
MODELS_DIRECTORY="{{ datamodel_directory.path }}/src/{{CHANNEL}}/sql/"
CHANNEL="{{CHANNEL}}"
PROPERTIES="{{ DSE_DATA_MODEL_DEPLOYER_REMOTE_PATH }}/dse-datamodel-deploy-{{ MODEL_TYPE }}/properties-{{ENVIRONMENT}}.json"
HOSTS="{{DB_HOST}}"
PORT="{{PORT}}"
DATABASE="{{ DATABASE }}"
USR="{{ DB_USERNAME }}"
PWD="{{ DB_PASSWORD }}"
ENDPOINT="{{ DB_ENDPOINT }}"
MASTER_KEY="{{ DB_MASTER_KEY }}"
ENDPOINT_SUBSCRIPTION="{{ DB_ENDPOINT_SUBSCRIPTION }}"
MASTER_KEY_SUBCRIPTION="{{ DB_MASTER_KEY_SUBSCRIPTION }}"
node $REMOTE_PATH --env $ENVIRONMENT --v $SCRIPT_VERSION --modelsDirectory $MODELS_DIRECTORY \
	--port $PORT --db $DATABASE --u $USR --p $PWD --h $HOSTS \
	--project $PROJECT --properties $PROPERTIES --channel $CHANNEL --action $ACTION \
	--endpoint $ENDPOINT --masterKey $MASTER_KEY \
	--endpointSubscription $ENDPOINT_SUBSCRIPTION --masterKeySubscription $MASTER_KEY_SUBSCRIPTION
